!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Testwebpack
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  %body.app
    //%a{href: "#{asset_path 'vcard.vcf'}", download: ''} download me
    = render partial: 'shared/loader'
    -if user_signed_in?
      %div
        = render partial: 'shared/sidebar'
        .page-container
          = render partial: 'shared/header'
          = yield
          = render partial: 'shared/footer'
    - else
      = yield
    




