!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Testwebpack
    %link{rel:"shortcut icon", type: "image/png", href: URI("assets/stellar_favicon.png")}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application_and_react'
  %body.app
    //%a{href: "#{asset_path 'vcard.vcf'}", download: ''} download me
    = render partial: 'layouts/loader'
    -if user_signed_in?
      %div
        = render partial: 'layouts/sidebar'
        .page-container
          = render partial: 'layouts/header'
          = render partial: 'layouts/flash'
          = yield
          = render partial: 'layouts/footer'
    - else
      = yield
    




